<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/owner.css">
    <script defer src="/scripts/jquery-3.3.1.js"></script>
    <script defer src="/scripts/owner.js"></script>
    <title>Document</title>
</head>
<body>
        <div class="page-header">
                <h1>Admin</h1>
                <ul class="nav">
                    <li class="nav-item">
                        <a id="users "class="nav-link active" href="#">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage newsletter</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                </ul>
        </div>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Sign up date</th>
            </tr>
        </thead>
        <tbody id='help'>
        </tbody>
    </table>
</body>
</html>