/* * {
  border: .5px solid black;
} */
body {
  margin: 1vh 1vw;
  font-family: 'Noto Serif SC', serif;
}

h1 {
  margin: 0;
  font-size: 5vh;
}

h2 {
  margin: 0;
  font-size: 3vh;
}

h3 {
  margin: 0;
  font-size: 3vh;
}

p {
  margin: 0;
  font-size: 2vh;
}

/* ________________________________________________ */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
}

.fa-bars {
  font-size: 4vh;
  margin: 0 1vw 0 1vw;
}
.fa-search {
  font-size: 4vh;
  margin: 0 10vw 0 3vw;
}
.fa-user {
  font-size: 4vh;
  margin: 0 3vw 0 10vw;
}
.fa-shopping-bag {
  font-size: 4vh;
  margin: 0 1vw 0 1vw;
}

/* ________________________________________________ */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  margin: 1vh 0 3vh 0;
  width: 85vw;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 85vw;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  margin: .25vh;
}

/* ________________________________________________ */

.hero {
  display: flex;
  width: 85vw;
  height: 50vw;
  clip: auto;
}

.heroImg {
  width: 85vw;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
}

/* ________________________________________________ */

.signUpPopUp {
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: 0;
  width: 100vw;
  height: 30vh;
  background-color: white;
  border-top: .25vh solid;
  text-align: center;
}

.popUpContainer {
  width: 70vw;
  margin: 0 auto;
}

.popUpText {
  margin: 0 auto;
}

.fa-times-circle{
  align-self: flex-end;
  bottom: 25vw;
  right: 2vw;
  margin: 2vh 2vh 0 0;
  color: #9B9B9B;
}

.signUpButton {
  height: 5vh;
  width: 30vw;
  margin: 0 auto 5vh auto;
  color: white;
  background-color: #E98EB2;
  border-radius: 1vh;
}

/* ________________________________________________ */

.formInput {
  position: fixed;
  display: none;
  flex-direction: column;
  background-color: #D8D8D8;
  height: 75vh;
  width: 85vw;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #D8D8D8;
  height: 50vh;
  width: 85vw;
  margin: 5vh 0 5vh 0;
}

input[type=text], input[type=email]{
  height: 5vh;
  width: 70vw;
  margin: 0 auto;
  border: 1px solid black;
}

.captcha {
  height: 5vh;
  width: 70vw;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
}

.submitButton {
  height: 5vh;
  width: 30vw;
  margin: 0 auto 5vh auto;
  color: white;
  background-color: #E98EB2;
  border-radius: 1vh;
}

/* ________________________________________________ */

.successResponse {
  /* background-image: url('../../public/images/unsplash.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -50vh;  */
  position: fixed;
  display: none;
  flex-direction: column;
  width: 85vw;
  height: 85vh;
  background-color: white;
}

.splashImg {
  width: 85vw;
  height: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}

.userNameDisplay {
  text-align: center;
  height: 10vh;
  margin-top: 20vh;
  font-weight: 900;
  color: white;
  background-color: rgba(74, 74, 74, 0.74)
}

.backToShopping {
  height: 5vh;
  width: 30vw;
  margin: 0 auto;
  color: white;
  background-color: #E98EB2;
  border-radius: 1vh;
}

/* ________________________________________________ */

footer {
  display: none;
  margin: 0 auto;
  width: 85vw;
  height: 40vh;
}

.footerText {
  text-align: center;
  width: 85vw;
}