/* * {
  border: .5px solid black;
} */
body {
  margin: 1vh 1vw;
  font-family: 'Noto Serif SC', serif;
}

h1 {
  margin: 0;
  font-size: 32px;
  color: #E98EB2;
}

h2 {
  margin: 0;
  font-size: 32px;
}

h3 {
  margin: 0;
  font-size: 12px;
}

p {
  margin: 0;
  font-size: 12px;
}

br {
  margin: 0;
}

.fa-times-circle {
  align-self: flex-end;
  position: relative;
  bottom: 0;
  right: 0;
  margin: 14px 14px 0 0;
  color: #9B9B9B;
}

/* ________________________________________________ */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
}

.fa-bars {
  font-size: 4vh;
  margin: 0 1vw 0 1vw;
}
.fa-search {
  font-size: 4vh;
  margin: 0 10vw 0 3vw;
}

.searchBar{
  display: none;
}

.fa-user {
  font-size: 4vh;
  margin: 0 3vw 0 10vw;
}
.fa-shopping-bag {
  font-size: 4vh;
  margin: 0 1vw 0 1vw;
}

/* ________________________________________________ */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  display: none;
  margin: 1vh 0 3vh 0;
  width: 85vw;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 85vw;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  margin: .25vh;
}

/* ________________________________________________ */

.hero {
  display: flex;
  width: 85vw;
  height: 50vw;
  clip: auto;
}

.heroImg {
  width: 85vw;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
}

/* ________________________________________________ */
.langingPageContent {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  height: 30vh;
  margin: 3vh 0 0 0;
}
.product {
  width: 35vw;
  height: auto;
}

.productTitles {
  font-size: 3.25vw;
  text-align: center;
}

.topProduct {
  margin: 0;
}

.markupTips {
  margin: 0;
}

/* ________________________________________________ */

.signUpPopUp {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 1vh;
  width: 318px;
  height: 297px;
  background-color: white;
  filter: drop-shadow(0 0 0.5rem grey);
  text-align: center;
}

.popUpContainer {
  width: 318px;
  margin: 0 auto 36px auto;
}

.popUpText {
  margin: 9px auto 0 auto;
} 

.signUpButton {
  height: 41px;
  width: 135px;
  margin: 0 auto 5vh auto;
  color: white;
  background-color: #E98EB2;
  border-radius: 1vh;
}

/* ________________________________________________ */

.formInput {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 526px;
  width: 297px;
  background-color: #F3D8DF;
  filter: drop-shadow(0 0 0.5rem grey);
}

.formTitle {
  display: flex;
  justify-content: center;
  width: 297px;
  margin: 0 auto;
  font-size: 19px;
}

.customCat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 47px;
  width: 257px;
  margin: 16px auto;
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.fa-sliders-h{
  font-size: 19px;
  margin: 0 0 0 19px;
}

.customText {
  font-size: 16px;
  margin: 0 0 0 47px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F3D8DF;
  width: 297px;
}

input[type=text], input[type=email]{
  height: 47px;
  width: 257px;
  margin: 16px auto;
  border: 1px solid black;
  text-align: center;
}

.captcha {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 47px;
  width: 257px;
  margin: 16px auto;
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.fa-sync-alt{
  font-size: 19px;
  margin: 0 0 0 19px;
}

.customTextBottom {
  font-size: 16px;
  margin: 0 0 0 60px;
}

.submitButton {
  height: 41px;
  width: 135px;
  margin: 0 auto 10px auto;
  color: white;
  background-color: #E98EB2;
  border-radius: 1vh;
}

/* ________________________________________________ */

.successResponse {
  position: fixed;
  display: none;
  flex-direction: column;
  width: 294px;
  height: 499px;
  filter: drop-shadow(0 0 0.5rem grey);
  background-color: white;
}

.splashImg {
  width: 269px;
  height: 205px;
  margin: 12.5px 12.5px 0 12.5px;
}

.userNameDisplay {
  text-align: center;
  height: 71px;
  width: 269px;
  margin: 0 auto;
  font-weight: 900;
  color: white;
  background-color: rgba(74, 74, 74, 0.74)
}

.userNameText {
  margin: 0 auto;
  font-size: 19px;
}

.backToShopping {
  height: 31px;
  width: 169px;
  margin: 11px 62.5px 20px 62.5px;
  color: white;
  background-color: #E98EB2;
  border-radius: 1vh;
}

.successText {
  margin: 0 auto;
  text-align: center;
}

.successBrandText {
  color: #E98EB2;
  margin: 40px auto 0 auto;
  text-align: center;
}


/* ________________________________________________ */

footer {
  display: none;
  margin: 0 auto;
  width: 85vw;
  height: 40vh;
}

.footerText {
  text-align: center;
  width: 85vw;
}

/* ________________________________________________ */

/* @media only screen and (max-width: 720px) {
}; */

@media only screen and (min-width: 720px) {
  .fa-bars {
    display: none;
  }
  .navBar {
    display: flex;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    width: 85vw;
  }
  .fa-search {
    margin: 0;
  }
  .searchIcons {
    margin: 0 10vw 0 0;
  }
  .searchBar{
    display: inline-block;
    border-radius: 12px;
  }
  .signUpPopUp {
    width: 650px;
  }
  .product {
    width: 300px;
    height: 137px;
  }
  .productTitles {
    text-align: center;
  }
  .formInput {
    width: 500px;
  }
  .formContainer {
    margin-right: auto;
    margin-left: auto;
  }
  .successResponse {
    width: 500px;
  }
  .splashImg {
    margin-right: auto;
    margin-left: auto;
  }
  .backToShopping {
    margin-right: auto;
    margin-left: auto;
  }
}